nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
  span(class="navbar-brand") Social auth application

  ul(class="navbar-nav mr-auto")
    li(class=activePath === "home" ? "nav-item active" : "nav-item")
      a(class="nav-link" href=activePath !== "home" && "/") Home

  ul(class="navbar-nav")
    li(class=activePath === "login" ? "nav-item active" : "nav-item")
      a(class="nav-link" href="/auth/login") Login
